<header class="template-header">
	<div class="header-sub container">
		<div class="row">
			<div class="header-twitter span-8">
				{{widget('twitter', 'twitterwidget', {'searchKey': 'basekit', 'searchType': 'username', 'count': '1','refreshTime': '1800000','includeRts': '0'})|raw}}
			</div>
			<div class="header-basket span-4">
				{{widget('ecombasket', 'ecombasket', {})|raw}}
			</div>
		</div>
	</div>
	
	<div class="keyline"></div>
	
	<div class="header-main container">
		<div class="row">
			<div class="header-title span-4">
				{{widget('companyname', 'companyname', {"business": "LOREM IPSUM"})|raw}}
			</div>
			<nav class="template-nav span-8">
				{{widget('extendednavigation', 'navigationheader', {})|raw}}
			</nav>
		</div>
	</div>
	<div class="header-details">
		<div class="container">
			<div class="row">
				<div class="header-text span-6">
					{{widget('content', 'offers', {content: 'LOREM IPSUM DOLOR SIT AMET'})|raw}}
				</div>
				<div class="header-phone span-6">
					{{widget('profile', 'contactnumber', { 'profileType':'phone'})|raw}}
				</div>
			</div>
		</div>
	</div>
</header>